* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(254,121,120);
    height: 100vh;
}



.register-main {
    background: url("../images/background_register.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.main-area {
    display: flex;
    align-items: center;
    width: 62.5rem;
    height: 90%;
    margin: auto;
    justify-content: space-between;
}

.text-intro {
    color: white;
    text-align: left;
    width: 450px;
}

.text-intro h1 {
    font-size: 3rem;
    margin: 0 0 30px 0;
}

.form-area {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
}

#trial-card {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background-color: rgb(94,84,164);
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    box-shadow: 0 8px 2px -2px rgba(128, 128, 128, 0.438);
}

#trial-card span {
    font-weight: bolder;
}

.reg-form {
    padding: 40px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 2px -2px rgba(128, 128, 128, 0.438);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reg-form input {
    padding: 15px;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0 0 15px 0;
    border: 1px solid rgb(163, 162, 162);
    border-radius: 5px;
}

#register {
    background: rgb(51,207,139);
    color: white;
    border: 0px;
    cursor: pointer;
    padding: 15px;
    font-size: 1rem;
    border-radius: 5px;
}

#t-and-c {
    font-size: 0.5rem;
    color: rgb(175, 173, 173);
}

#t-and-c a {
    color: rgb(254,121,120);
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    main {
        background: url("../images/background_registerM.jpg");
    }

    .main-area {
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 500px;
        min-height: 500px;
        margin: 50px auto;
    }

    .text-intro {
        text-align: center;
        width: 100%;
    }

    .form-area {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    main {
        background: url("../images/background_registerM.jpg");
    }

    .main-area {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        min-height: 500px;
        margin: 50px auto;
    }

    .text-intro {
        text-align: center;
        width: 100%;
    }

    .form-area {
        width: 100%;
    }
}

