{% extends 'base/base.html' %}
{% load static %}

{% block footer %}{% endblock %}

{% block password_css %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/passwordChange.css' %}">
{% endblock %}

{% block content %}
<a href="{% url 'profile' %}" class="btn-profile btn-secondary">
                    <i class="fas fa-times"></i>
                    Cancel
                </a>
<div class="container">

        <h2>Change Password</h2>
        <form>
            <div class="form-group">
                <label for="current-password">Current Password</label>
                <input type="password" id="current-password" required>
                <span class="password-toggle">👁️</span>
            </div>

            <div class="form-group">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" required>
                <span class="password-toggle">👁️</span>
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm New Password</label>
                <input type="password" id="confirm-password" required>
                <span class="password-toggle">👁️</span>
            </div>

            <div class="password-requirements">
                <ul>
                    <li>At least 8 characters long</li>
                    <li>Contains uppercase & lowercase letters</li>
                    <li>Contains at least one number</li>
                    <li>Contains at least one special character</li>
                </ul>
            </div>

            <button type="submit">Update Password</button>

        </form>
    </div>
{% endblock %}