{% extends 'base/base.html' %}
{% load static %}

{% block main_product_css %}
<link rel="stylesheet" type="text/css" href="{% static 'product/css/main_product.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="title">PRODUCT LIST</div>
        <div class="listProduct">
            {% for product in products %}
                <a href="{% url 'product-detail' product.name %}" class="item">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <div class="separator-box"></div>  <!-- Box between image and name -->
                    <h2>{{ product.name }}</h2>
                    <div class="separator-box"></div>  <!-- Box between name and price -->
                    <div class="price">NRs. {{ product.price }}</div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
