{% extends "base/base.html" %}

{% load static %}

{% block navbar_css %}
<link rel="stylesheet" type="text/css" href="{% static 'base/css/home.css' %}">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<!-- Add ScrollReveal -->
<script src="https://unpkg.com/scrollreveal"></script>
{% endblock %}


{% block scripts %}
<script src="{% static 'base/js/main.js' %}"></script>
{% endblock %}

{% block content %}


 <header class="header__container">
      <div class="header__image">
        <div class="header__image__card header__image__card-1">
          <span><i class="ri-key-line"></i></span>
          Prediction
        </div>
        <div class="header__image__card header__image__card-2">
          <span><i class="ri-passport-line"></i></span>
          Products
        </div>
        <div class="header__image__card header__image__card-3">
          <span><i class="ri-map-2-line"></i></span>
          Clinics
        </div>
        <div class="header__image__card header__image__card-4">
          <span><i class="ri-guide-line"></i></span>
          Recommendation
        </div>
        <img src="{% static 'base/images/main.png' %}" alt="header" />

      </div>
      <div class="header__content">
        <h1>UNLOCK YOUR<br /> <span>HAIR'S FUTURE </span> </h1><h2>DISCOVER, PREVENT, AND REVIVE.</h2>
        <p>
          Get a personalized hair fall risk assessment in seconds!
          Discover expert recommendations tailored to your hair type.
          Shop premium hair care products and connect with top clinics.
        </p>
        <form action="/">
          <div class="input__row">
            <div class="input__group">
              <h5>Destination</h5>
              <div>
                <span><i class="ri-map-pin-line"></i></span>
                <input type="text" placeholder="Paris, France" />
              </div>
            </div>
            <div class="input__group">
              <h5>Date</h5>
              <div>
                <span><i class="ri-calendar-2-line"></i></span>
                <input type="text" placeholder="17 July 2024" />
              </div>
            </div>
          </div>
          <button type="submit">Search</button>
        </form>


      </div>
    </header>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'base/js/main.js' %}"></script>


{% endblock content%}
