{% load static %}

{% block navbar_css %}
<link rel="stylesheet" type="text/css" href="{% static 'base/css/home.css' %}">
{% endblock %}

<nav>
    <div class="nav__header ">
        <div class="nav__logo">
            <a href="{% url 'KnowYourHair-home' %}">Know<span>YourHair</span></a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
            <span><i class="ri-menu-line"></i></span>
        </div>
    </div>
    <ul class="nav__links" id="nav-links">
        <li class="active"><a href="{% url 'KnowYourHair-home' %}">Home</a></li>
        <li><a href="{% url 'KnowYourHair-hairfallprediction' %}">HairFall</a></li>
        <li><a href="{% url 'KnowYourHair-product' %}">Products</a></li>
        <li><a href="{% url 'KnowYourHair-clinic' %}">Clinics</a></li>
        <li><a href="{% url 'dermatologist-view' %}">Dermatologists</a></li>
        <li><a href="{% url 'KnowYourHair-blog' %}">Blog</a></li>
        <li><a href="{% url 'KnowYourHair-blog' %}">Contact Us</a></li>
    </ul>
  <div class="nav__btns">
    {% if user.is_authenticated %}
        {% if request.user.is_superuser %}
            <a href="{% url 'adminDash' %}" class="btn sign__up">Dashboard</a>
        {% elif request.user.profile.agent %}
            <a href="{% url 'profile' %}" class="btn sign__up">Profile</a>
        {% elif request.user.profile.customer %}
            <a href="{% url 'profile' %}" class="btn sign__up">Profile </a>
        {% endif %}
        <a href="{% url 'logout' %}" class="btn sign__in">Logout</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn sign__in">Login</a>
        <a href="{% url 'registration' %}" class="btn sign__up">Register</a>
    {% endif %}
</div>
</nav>

<script src="{% static 'base/js/navbar.js' %}"></script>
